*{
    margin: 0;
    padding: 0;
}
p{
    color: #807e7e;
}
/* Main header */
.head-main{
    display: flex;
    background-color: #E554731A;
    height: auto;
    width: 100%;
}
.title-main{
    padding: 100px 200px;
    padding-top: 15%;
}
.title{
    color: #272727;
    font-size: 44px;
    font-family: Georgia, serif;
    font-weight: 800;
}
.description{
    color: #807e7e;
    margin: 20px 0;
}
.shop-now{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #E55473;
    border-radius: 5px;
    border: none;
}
.shop-now:hover{
    background-color: #b34960;
}
.head-img{
    height: 550px;
    margin-right: 100px;
    margin-top: 50px;
}

/* Our Featured Section Start */
.our-featur-main{
    text-align: center;
    margin-top: 100px;
}
.our-featur-main h1{
    font-family: Georgia, serif;
    margin: 20px 0;
    font-size: 32px;
    font-weight: 900;
}
.pink-flower-img{
    display: flex;
    margin: 30px 180px 0 200px;
    gap: 20px;
}
.pink-flower{
    background: rgba(167, 33, 98, 0.15); 
    border-top-left-radius: 300px; 
    border-top-right-radius: 300px;
    height: 330px;
    width: 240px;
    padding: 50px 40px 0 40px;
}
.flower-bg{
    background-color: #0597A026;
}
.flower-bg2{
    background-color: #477D1126;
}
.flower-name{
    text-align: center;
    text-decoration: underline;
    font-size: medium;
    margin-top: 20px;
}
/* Optional Section */
.services-logo-main{
    display: flex;
    background-color: #2727270D;
    margin: 100px 150px 0 200px;
    padding: 100px 0;
    justify-content:center;
    gap: 100px;
}
.serve-logo img{
    height: 60px;
    width: 60px;
    margin-left: 40% ;
}
/* Hot Deal Discount Section */
.hot-deal-container{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding: 100px 230px;
    text-align: center;
}
.discount-title h1{
    color: #272727;
    font-size: 28px;
    font-weight: 900;
    font-family: Georgia, serif;
}
.discount-title h1>span{
    color: #E55473;
}
.discount-title p{
    margin: 30px;
}
.sign-up{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #E55473;
    border-radius: 5px;
    border: none;
}
.discount-img{
    height: 320px;
    width: 250px;
}
/* Instagram Section */
.insta-container{
    margin-top: 100px;
    text-align: center;
}
.insta-container h1{
    font-family: Georgia, serif;
    color: #272727;
    font-size: 28px;
}
.insta-container p{
    padding: 20px;
    margin-bottom: 30px;
}
.insta-img{
    display: flex;
    gap: 30px;
    justify-content: center;
    /* padding: 0 200px 0 150px; */
}
.insta-img img{
    height: 300px;
    width: 250px;
}
/* newsletter and input section style  */
.newsletter-container{
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    margin: 100px 130px 100px 130px;
    height: 400px;
}
.newsletter-container h3{
    color: #272727;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    padding-top: 80px;
}
.newsletter-container p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    padding: 10px 0 50px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
#email {
    color: rgba(39, 39, 39, 0.60);
    padding: 15px 300px 15px 15px;
    border-radius: 8px;
    background: #d6e0e3;
    font-size: 16px;
    font-weight: 400;
    border: 0px;
    margin-left: 25%;
    box-shadow: 4px 3px 5px 5px gray;
}
.subscribe{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    background-color: #E55473;
    border-radius: 8px;
    border: none;
    margin-left: 10px;
    box-shadow: 4px 3px 5px 5px gray;
}

/* footer related styles */
footer{
    height: 350px;
    background: #111010;
    text-align: center;
}

footer h3{
    color: #E55473;
    font-size: 38px;
    font-weight: 900;
    padding-top: 100px;
    font-family: Georgia, serif;
}
footer p{
    color:#9a9595;
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
}
footer h4{
    color:#4b4949;
    font-size: 12px;
    font-weight: 300;
    padding-top: 25px;
}